## osx & ios (src, data)

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/
project.xcworkspace


*.xcodeproj
*.xcconfig
config.make
*.plist
Makefile


.svn/
obj/
!bin/
build/
*.icns
